graft src/zh_tts_tests/
graft src/zh_tts_cli_tests/

include \
  pylintrc \
  CHANGELOG.md \
  CODE_OF_CONDUCT.md \
  CONTRIBUTING.md \
  CITATION.cff \
  LICENSE \
  MANIFEST.in \
  Pipfile \
  Pipfile.lock \
  README.md \
  pyproject.toml \
  setup.cfg \
  examples/synthesize-ipa.wav \
  examples/synthesize.wav \
  img/eval.png

global-exclude \
  *~ \
  *.py[cod] \
  *.so \
  .DS_Store

prune .*/
prune **/__pycache__/
