[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zh-tts = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
wget = "*"

[packages]
numpy = ">=1.18.5"
tqdm = ">=4.63.0"
ordered-set = ">=4.1.0"
ffmpy = "=>0.3.1"
pronunciation-dictionary = ">=0.0.6"
pronunciation-dictionary-utils = ">=0.0.5"
dict-from-pypinyin = ">=0.0.2"
dict-from-dict = "=>0.0.4"

[requires]
python_version = "3.10"
