[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zh-tts = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
mypy = "*"
pandas-stubs = "*"
types-tqdm = "*"

[packages]
numpy = ">=1.18.5"
tqdm = ">=4.63.0"
ordered-set = ">=4.1.0"
ffmpy = ">=0.3.1"
spacy-pkuseg = ">=0.0.33"
zhon = ">=2.0.2"
opencc-py = ">=1.1.0"
torch = ">=2.0.0"
pronunciation-dictionary = ">=0.0.6"
pronunciation-dictionary-utils = ">=0.0.5"
dict-from-dict = ">=0.0.4"
dict-from-pypinyin = ">=0.0.2"
tacotron-cli = ">=0.0.5"
waveglow-cli = ">=0.0.2"
txt-utils = ">=0.0.3"
pinyin-to-ipa = ">=0.0.2"

[requires]
python_version = "3.11"
